:root,
:root.sea{
    --dark-color: #1f2937;
    --light_color: #3882f6;
    --whitefont: #f9faf8;
    --grayback: #e5e7eb;
}
:root.wine{
    --dark-color: #611f2c;
    --light_color: #f15071;
    --whitefont: #f9faf8;
    --grayback: #e5e7eb;
}
:root.jade{
    --dark-color: #0b2d1a;
    --light_color: #3caea3;
    --whitefont: #f9faf8;
    --grayback: #e5e7eb;
}

:root.mustard{
    --dark-color: #4f230a;
    --light_color: #f59e0b;
    --whitefont: #f9faf8;
    --grayback: #e5e7eb;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh
    
}

header{
    display: flex;
    background-color:var(--dark-color);
    color: var(--whitefont);
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
}
header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-right: 30px;
}

a{
    text-decoration: none;
    color: var(--whitefont);
}

.logo{
    width: 60px;
    height: 50px;
    margin-left: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    
}

.hero_section{
    background-color: var(--dark-color);
    color: var(--whitefont);
}
.hero_box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px 0;

}
.hero_right {
    width: 400px;
    height: auto
}

.hero_left {
    width: 400px;
    height: auto
}

.hero_section h1{
font-size: 48px;
font-weight: bolder;
}

.hero_section p{
    padding: 10px 0;
    }

img{
    max-width: 100%;
    height: auto;
}
button{
    padding: 8px 20px;
    background-color: var(--light_color) ;
    color: var(--whitefont);
    border-radius: 5px;
    border: solid 2px var(--dark-color);
    font-size: 18px;
    width: 8em;
    cursor: pointer; 
    transition-duration: 0.4s;
}
  button:hover {
    background-color: var(--whitefont);
    color:#3882f6;
  }
.info_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--whitefont);
    color: #1f2937;
    padding: 60px 0;
}


.card_box{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
    flex-wrap: wrap;
}

.card_body{
    border: solid 5px var(--light_color);
    border-radius: 8px;
    flex: 1;
    cursor: pointer; 
    transition-duration: 0.4s;
    margin-bottom: 5px;
}

.card_body:hover{
    transform: scale(1.02);

}

.mustard .mustards{
    transform: scale(1.05)
}

.wine .wines{
    transform: scale(1.05)
}

.jade .jades{
    transform: scale(1.05)
}

.sea .seas{
    transform: scale(1.05)
}

.card_body img{
    display: flex;
    margin: auto;
    padding: 6px;
    border-radius: 10px;  
}

.quote_section{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--grayback);
    color: #1f2937;
    font-size: 32px;
    font-style:italic;
    padding: 60px;
    text-align: left;
}

.quote_section blockquote{
    max-width: 800px
}

.quote_section p{
    font-size: 24px;
    font-style: normal;
    text-align: right;
}

.quote_section p::before{
    content:  " \2014 \0020";  
    
}

.action_section{
    display: flex;
    justify-content: center;
    background-color: var(--whitefont);
    color: var(--grayback);
    padding: 60px;
    font-size: 18px;
}
.action_section .card {
    background-color: var(--light_color);
    color:var(--whitefont);
    width: 1000px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.card_text{
    padding: 0 60px;
}
.card button{
    border: solid 2px var(--whitefont);
    margin: 0 40px;
   
    
}


footer{
    display: flex;
    background-color: var(--dark-color);
    text-align: center;
    color: var(--whitefont);
    justify-content: center;
    padding: 30px;
}